* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;

}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 
    background: #302154;
    */
    background-image: url("../../Icons/fondito2.png"); /* Ruta de tu imagen de fondo */
}

.login-container {
    display: flex;
    width: 900px;
    height: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
    background: white;
    
}

/* Estilos para la parte izquierda */
.login-left {
    width: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para la parte derecha */
.login-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-box {
    width: 80%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}

.avatar {
    width: 80px;
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 20px;
    font-size: 34px;
    font-family: Montserrat;
    
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.input-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Ícono de ver contraseña */
.password-group {
    position: relative;
}

.ver-password {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 35px;
}

.olvide {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #9c367f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1c1462;
}


.mensaje-error {
    color: #7f4fd9; /* Rojo suave */
    background-color: #d7f8f6; /* Fondo rojo claro */
    border: 1px solid #dec6f5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-family: montserrat;
    font-weight: bold;
}