@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --background-color: #f5f5f5;
    --text-title-color: #4b3bdf;
    --text-color: #ffffff;
    --icon-color: #0f3869;
    --icon-menu-color: #1c5cb1;
    --menu-color: #000000;

    --text-selected-color: #662952 ;
    --background-selected: #ffffff;
    --background-hover: #2b001d;

    --border-color: #ffffff;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #bbbbdb;
    color: #000000;
}

header{
    position: fixed;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    background: linear-gradient(135deg,#ffffff);
    top:0;
    left:0;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-gap:1.4rem;
}
.menu-contenedor{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu {

    width: 1.5rem;
    height: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
;
}
.menu div{
    width: 100%;
    height: 0.15rem;
    background-color:var(--menu-color);
    transition: all 0.2s ease;
}
.menu.menu-toggle div:first-child{
    width: 40%;
    transform: rotate(-30deg) translate(-30%,175%);
}
.menu.menu-toggle div:last-child{
    width: 40%;
    transform: rotate(30deg) translate(-30%,-160%);
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.brand .logo{
 width: 2.7rem;
 margin-left: 20px;
 

}
.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-title-color);
    

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6em;

}

.right a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease;
    background-color: #c7bdec60;

    /* NUEVO: Establece mismo tamaño fijo */
    width: 2.5rem;
    height: 2.5rem;
}

.right a:hover {
    background-color: #8232a1;
}

.right img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    object-fit: contain;
}
.right .user{
width: 2.5rem; /* o usa cualquier medida fija o relativa */
  height: 2.5em;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
 border: 2px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

}
.sidebar{
    background: linear-gradient(135deg,#662952,rgb(17, 11, 105));
    margin-top: 3rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    overflow-y: auto;
    transition: width 0.5s ease;

}
.sidebar.menu-toggle{
    width: 15rem;
}
.sidebar a{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0.6rem 0.6rem ;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color:  var(--text-color);
    transition: transform 0.1s ease, background 0.4s ease;
}
.sidebar a:hover{

    background-color: var(--text-selected-color);
    transform: scale(1.13); /* Hace que el botón se agrande */
}
.sidebar a.selected{
    color :var(--background-selected);
    background-color: #4823cc60;
}

.sidebar img{
    width: 1.6rem;

}
main{
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    transition:margin 0.5s ease;
}
main.menu-toggle{
    margin-left: 15rem;
}

@media (max-width:500px){
    .right .icons-header{
        display: none;
    }
    .sidebar{
        width: 0;
    }
    main{
        margin-left: 0;
    }
    main.menu.menu-toggle{
        margin-left: 0;
    }
    .menu.menu-toggle div:first-child{
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem, 0.3rem); 
    }
    .menu.menu-toggle div:nth-child(2){
        opacity: 0;
    }
    .menu.menu-toggle div:last-child{
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem, -0.3rem); 
    }

}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-contenido {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 800px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
}
